{% load static %}
 
<html>
    <head>
        <link rel="stylesheet" href="{% static 'myapp/styles.css' %}"></link>
    </head>
    <body>
        <nav class="bg-white shadow-lg">
            <div class="max-w-6xl mx-auto px-1">
                <div >
                    <div class="flex px-1 py-3">
                        <div class="flex px-10 py-3" >
    
                            <img class="h-8 w-8" src="{% static 'myapp/images/logo.png' %}" alt="">
                            <span class="text-gray-500 font-semibold text-lg">Buy&Sell</span>
                        </div>
                        <div class="flex px-2 py-3">
                            <a href="{% url 'myapp:products' %}" class="text-gray-500 font-semibold text-lg">Home</a>
                        </div>

                        <div class="flex px-2 py-3">
                            <a href="{% url 'myapp:add_product' %}" class="text-gray-500 font-semibold text-lg">Add Post</a>
                        </div>

                        <div class="flex px-2 py-3">
                            <span class="text-gray-500 font-semibold text-lg">ContactUs</span>
                        </div>
                        <div class="flex px-2 py-3">
                            <span class="text-gray-500 font-semibold text-lg">About</span>
                        </div>
                        {% if user.is_authenticated %}
                        
                            <a class="text-gray-500 font-semibold text-lg py-3 pl-20 pr-2" href=" {% url 'users:logout' %} ">Logout</a>
                            <a class="text-gray-500 font-semibold text-lg px-2 py-3" href=" {% url 'users:profile' %} ">Profile</a>
                            <a class="text-gray-500 font-semibold text-lg px-2 py-3" href=" {% url 'myapp:mylistings' %} ">My Listings</a>
                        
                            {% else %}
                            <a class="text-gray-500 font-semibold text-lg px-2 py-3" href=" {% url 'users:login' %} ">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        {% block content %}

        {% endblock %}

    </body>
</html>