{% extends 'myapp/base.html' %}
{% block content %}
<div class="flex p-10 w-full h-200">
    <img class="w-1/3" src="{{product.image.url}}" alt="">
    <div class="w-2/3 text-xl ml-10">
        <div class="mt-5">Product Name :<span class="text-gray-400 px-1">{{product.name}}</span></div>
        <div class="mt-5">Product Price :<span class="text-gray-400 px-1">{{product.price}}</span></div>
        <div class="mt-5">Description :<span class="text-gray-400 px-1">{{product.desc}}</span></div>
        <div class="mt-5">
            Posted by :
            <a href="{% url 'users:sellerprofile' product.seller_name.id %}" class="text-gray-400 px-1">{{product.seller_name}}</a>
        </div>
        <div class="mt-5">Contact No :<span class="text-gray-400 px-1">{{product.seller_name.profile.contact_number}}</span></div>
    </div>
    <div>
        <button class="bg-green-500 text-white pc-3 py-2 mt-3" id="checkout" >CheckOut</button>
    </div>
</div>

{% endblock %}