{% extends 'myapp/base.html' %}
{% block content %}
<h1 class="text-2xl font-bold text-red-500 ml-10 mt-4">DELETE PRODUCT</h1>
<form class="bg-white shadow-md m-10 px-8 py-4" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p class="block text-gray-700 text-sm font-bold mb-2">Are you sure you want to delete "{{ object }}"?</p>
    <div class="form-group mb-4">
        {{ form }}
    </div>
    <div class="mb-7">
        <input class="bg-red-500 text-white px-5 py-2" type="submit" value="Confirm">
    </div>
</form>
<style>
    input[type="text"], input[type="file"], textarea, select {
        margin-bottom: 1rem;
        padding: 0.5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 0.375rem; /* Tailwind's rounded-md */
        width: 100%;
    }

    label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
        color: #4A5568; /* Tailwind's text-gray-700 */
    }

    .form-group {
        margin-bottom: 1.5rem;
    }
</style>
{% endblock %}
