{% extends 'myapp/base.html' %}
{% block content %}
<h1 class="text-2xl font-bold text-green-500 ml-10 mt-4 ">ADD PRODUCT</h1>
<form class="bg-white shadow-lg m-10 px-8 py-4" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-4">
    <label class="block text-gray-500 font-bold mb-2 text-xl" for="name">Product Name</label>
    <div class="shadow-lg appearance-none rounded py-2 px-3 mr-10 w-1/3" >
        {{form.name}}
    </div></div>
    <div class="mb-4">
    <label class="block text-gray-500 font-bold mb-2 text-xl" for="name">Price</label>
    <div class="shadow-lg appearance-none rounded py-2 px-3 mr-10 w-1/3" >
        {{form.price}}
    </div> </div>
    <div class="mb-4">
    <label class="block text-gray-500 font-bold mb-2 text-xl" for="name">Product Description</label>
    <div class="shadow-lg appearance-none rounded py-2 px-3 mr-10 w-1/3" >
        {{form.desc}}
    </div>    </div>
    <div class="mb-4">
    <label class="block text-gray-500 font-bold mb-2 text-xl" for="name">Add Image</label>
    <div class="shadow-lg appearance-none rounded py-2 px-3 mr-10 w-1/3" >
        {{form.image}}
    </div>    </div>

    <div class="hidden shadow appearance-none rounded py-2 px-3 mr-10 w-1/3" >
        {{form.seller_name}}
    </div>    </div>

    <div class="mb-7">
    <input class="bg-green-500 text-white px-5 py-2" type="submit" name="Add Product" id="Add Product" > <br>
    </div>
</form>
{% endblock %}